<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Appointment Schedular</title>
		<!-- Link to JavaScript -->
		<script src="js/script.js" defer></script>

		<!-- Link styles -->
		<link rel="stylesheet" href="/styles/style.css" />
	</head>
	<body>
		<main>
			<form id="schedular-form" method="get">
				<fieldset>
					<!-- Legend -->
					<legend>Schedule Form</legend>

					<!-- First name -->
					<div>
						<label for="fname">First Name: </label>
						<input id="fname" name="fname" type="text" />
						<span id="err-fname" class="error"
							>First name cannot be empty!</span
						>
					</div>

					<!-- Last name -->
					<div>
						<label for="lname">Last Name:</label>
						<input type="text" id="lname" name="lname" />
						<span id="err-lname" class="error">Last name cannot be empty!</span>
					</div>

					<!-- Date -->
					<div>
						<label for="date">Date: </label>
						<input type="date" name="date" id="date" />
						<span id="err-date" class="error">Select a date!</span>
					</div>

					<!-- Time -->
					<div>
						<label for="time">Time: </label>
						<input type="time" name="time" id="time" />
						<span id="err-time" class="error">Select a time!</span>
					</div>
				</fieldset>

				<!-- Button -->
				<button type="submit" id="submit-btn">Submit</button>
			</form>
		</main>
	</body>
</html>
