<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Appointment Schedular</title>
	</head>
	<body>
		<main>
			<form id="shcedular-form" method="get">
				<fieldset>
					<!-- First name -->
					<label for="fname">First Name: </label>
					<input id="fname" name="fname" type="text" />

					<!-- Date -->
					<label for="date">Date: </label>
					<input type="date" name="date" id="date" />

					<!-- Time -->
					<label for="time">Time: </label>
					<input type="time" name="time" id="name" />
				</fieldset>

				<!-- Button -->
				<button type="submit">Submit</button>
			</form>
		</main>
	</body>
</html>
